@model IEnumerable<Projekt_wycieczki_koncowy.Models.User>

@{
    ViewBag.Title = "ListUser";
}

<h2>Lista użytkowników systemu</h2>

<p>
    @Html.ActionLink("Dodaj nowego uzytkownika", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rola)
        </th>
        <th>
            Opcje na użytkowniku
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rola)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.idUser }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.idUser })
        </td>
    </tr>
}

</table>
